{% extends 'app/base.html' %}
{% load static %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<div class="navbar">
	<div class="title-container">
		<titlu class="titlu">Image Illuminate</titlu>
	</div>
</div> -->



<button class="button" id="buton2">Run</button>
<p class="p" id="prompt">*Prompt</p>
<p class="p" id="negativ-prompt">*Negative prompt</p>
<p class="p" id="user">*The AI used</p>
<div id="myPrompt" class="buton-promt">
	<input class="button" type="text" id="myPromptNegative"
		placeholder="Describe what you DON'T want in the generated image">
</div>

<input class="button" type="text" id="myPrompt" placeholder="Describe how the final image should look like">
<!-- 
<button class="button" id="changeColorButton" onclick="toggleColor()">
	<span id="symbolContainer">&#127769;</span>
	<span id="textContainer"></span>
</button> -->
<div class="button-container">
	<div class="dropdown">
		<button class="dropbtn" id="selectedOption" onclick="toggleDropdown()">Model</button>
	</div>
</div>
<div class="imagini">
	<div class="dropdown-content">
		{% for index in options %}
		<a onclick="resetOrSelectOption('{{ index.value }}', '{{ index.label }}', '{{ index.image_url }}')"
			id="{{ index.value }}">
			<img src="{% static 'app/images-model/' %}{{ index.image_url }}" alt="Option Image" class="option-image">
			{{ index.label }}
		</a>
		{% endfor %}
	</div>
</div>



<!-- button calin de run -->
<!-- <form method="post" action="{% url 'index' %}">
		{% csrf_token %}
		<label for="Prompt">Enter Text:</label>
		<input type="text" id="Prompt" name="Prompt">
		<button type="submit">Run</button>
	</form> -->
<div class="button-linie">
	<div id="sliderContainer" class="slider-container">
		<input type="range" min="1" max="7" value="4" class="slider" id="rangeSlider">
		<div class="labels">
			<span onclick="setOption(1)">Portrait</span>
			<span onclick="setOption(4)">Square</span>
			<span onclick="setOption(7)">Landscape</span>
		</div>
		<div class="indicator" id="sliderIndicator"></div>
	</div>
</div>


<div id="buttonContainer">
	<button class="button" id="mainButton" onclick="toggleOptions('optionsContainer')">
		<!-- <img src="{% static 'app/resources/arrow-1024.png' %}" alt="Option Image" class="option-image"> -->
		&#8595; OPTIONS &#8595;
	</button>
	<div id="optionsContainer">
		<button class="button" id="resolutionButton" onclick="toggleOptions('resolutionOptionsContainer')">
			<div class="centered-container">
				<div id="resolutionText" style="color: white; margin-bottom: 12px;">Steps</div>
				<input type="text" id="resolutionInput" placeholder="Undefined"
					style="background-color: rgb(65, 70, 65); color: white;">
			</div>
			<div id="resolutionOptionsContainer"></div>
		</button>

		<button class="button" id="seedButton" onclick="toggleOptions('seedOptionsContainer')">
			<div class="centered-container">
				<div id="seedText" style="color: white; margin-bottom: 12px;">Seed</div>
				<input type="text" id="seedInput" placeholder="Undefined"
					style="background-color: rgb(65, 70, 65); color: white;">
			</div>
			<div id="seedOptionsContainer"></div>
		</button>

		<button class="button" id="cfgScaleButton" onclick="toggleOptions('cfgScaleOptionsContainer')">
			<div class="centered-container">
				<div id="cfgScaleText" style="color: white ; margin-bottom: 12px;">CfgScale</div>
				<input type="text" id="cfgScaleInput" placeholder="Undefined"
					style="background-color: rgb(65, 70, 65); color: white;">
			</div>
			<div id="cfgScaleOptionsContainer"></div>
		</button>

		<button class="button" id="samplesButton" onclick="toggleOptions('samplesOptionsContainer')">
			<div class="centered-container">
				<div id="samplesText" style="color: white; margin-bottom: 12px;">Samples</div>
				<input type="text" id="samplesInput" placeholder="Undefined"
					style="background-color: rgb(65, 70, 65); color: white;">
			</div>
			<div id="samplesOptionsContainer"></div>
		</button>

		<button class="button" id="modeButton" onclick="toggleOptions('modeOptionsContainer')">
			Mode
		</button>
		<div id="modeOptionsContainer">
			<input type="text" class="button" id="darkInput" placeholder="Height" onclick="clearInput('darkInput')">
			<input type="text" class="button" id="lightInput" placeholder="Width" onclick="clearInput('lightInput')">
		</div>
		<button class="button" id="resetButton" onclick="resetButtons()">Reset</button>
	</div>
</div>


{% if image_paths|length > 0 %}
<a href="#" id="downloadBtn" class="download-btn" onclick="downloadImages()">Download</a>
<div id="image-grid">
	{% for image_path in image_paths %}
	<div class="image-container">
		<img src="{% static 'app/images/' %}{{ image_path }}" alt="{{ image_path }}"
			style="max-width: 100%; height: auto;" id="generated_image">
	</div>
	{% endfor %}
</div>

<script>
	function downloadImages() {
		// Get all elements with the 'generated-image' id
		var images = document.querySelectorAll('[id^="generated_image"]');

		// Iterate through each image and create a download link
		images.forEach(function (image, index) {
			var imageUrl = image.src; // path to the image
			var downloadLink = document.createElement('a');

			// Set download link attributes
			downloadLink.href = imageUrl;
			downloadLink.download = 'image_' + (index + 1) + '.png';

			// Append the download link to the document and trigger a click
			document.body.appendChild(downloadLink);
			downloadLink.click();

			// Remove the download link from the document
			document.body.removeChild(downloadLink);
		});
	}
</script>
{% endif %}

<script>
	/* Salvez ultima varianta selectata */
	var lastSelectedOption = '';

	function toggleDropdown() {
		var dropdownContent = document.querySelector('.dropdown-content');
		dropdownContent.style.display = (dropdownContent.style.display === 'flex') ? 'none' : 'flex';
	}

	function resetOrSelectOption(value, label, image_url) {
		// Remove 'selected' class from the last selected option
		if (lastSelectedOption !== '') {
			document.getElementById(lastSelectedOption).classList.remove('selected');
		}

		var selectedOptionButton = document.getElementById('selectedOption');
		var final_url = "{% static 'app/images-model/' %}" + image_url;

		if (lastSelectedOption == value) {
			document.getElementById('selectedOption').innerHTML = 'Model';
			selectedOptionButton.style.backgroundImage = 'none';
			lastSelectedOption = '';

			// Remove 'selected' class from the selected option
			document.getElementById(value).classList.remove('selected');
		} else {
			document.getElementById('selectedOption').innerHTML = value;
			selectedOptionButton.style.backgroundImage = 'url("' + final_url + '")';
			lastSelectedOption = value;

			// Add 'selected' class to the selected option
			document.getElementById(value).classList.add('selected');
		}

		toggleDropdown();

		toggleDropdown();
	}

</script>

<script>
	var slider = document.getElementById("rangeSlider");
	var labels = document.querySelector(".labels").children;
	var indicator = document.getElementById("sliderIndicator");

	slider.addEventListener("input", function () {
		var value = this.value;
		var labelsCount = labels.length;

		for (var i = 0; i < labelsCount; i++) {
			labels[i].style.color = "#000"; // Reset colors
		}

		labels[value - 1].style.color = "blue"; // Highlight the selected label

		// Move indicator to the selected option
		var percent = (value - 1) / (labelsCount - 1) * 100;
		indicator.style.left = "calc(" + percent + "% - 10px)";
	});

	var initialValues = {
		resolution: "Resolution",
		seed: "Seed",
		cfgScale: "CfgScale",
		samples: "Samples",
		dark: "Height",
		light: "Width"
	};

	function toggleOptions(containerId) {
		var optionsContainer = document.getElementById(containerId);
		if (optionsContainer.style.display === "none" || optionsContainer.style.display === "") {
			optionsContainer.style.display = "block";
		} else {
			optionsContainer.style.display = "none";
		}
	}

	function clearInput(inputId) {
		var inputElement = document.getElementById(inputId);
		inputElement.value = "";
		inputElement.focus();
	}

	function resetResolutionButton() {
		var resolutionInput = document.getElementById("resolutionInput");
		var resolutionText = document.getElementById("resolutionText");
		resolutionInput.value = "";
		resolutionText.style.color = "white";
	}

	function resetSeedButton() {
		var seedInput = document.getElementById("seedInput");
		var seedText = document.getElementById("seedText")
		seedInput.value = "";
		seedText.style.color = "white";
	}

	function resetCfgScaleButton() {
		var cfgScaleInput = document.getElementById("cfgScaleInput");
		var cfgScaleText = document.getElementById("cfgScaleText");
		cfgScaleInput.value = "";
		cfgScaleText.style.color = "white";
	}

	function resetSamplesButton() {
		var samplesInput = document.getElementById("samplesInput");
		var samplesText = document.getElementById("samplesText");
		samplesInput.value = "";
		samplesText.style.color = "white";
	}

	function resetButtons() {
		resetResolutionButton();
		resetSeedButton();
		resetCfgScaleButton();
		resetSamplesButton();

		var darkInput = document.getElementById("darkInput");
		var lightInput = document.getElementById("lightInput");

		darkInput.value = initialValues.dark;
		lightInput.value = initialValues.light;
	}
</script>

<!-- <script>
	var currentColor = 'black';

	function toggleColor() {
		// Obține elementul body
		var bodyElement = document.body;

		// Comută între clasele black și white
		currentColor = (currentColor === 'black') ? 'white' : 'black';

		bodyElement.classList.remove('black', 'white');
		bodyElement.classList.add(currentColor);

		// Schimbă textul butonului
		var buttonElement = document.getElementById('changeColorButton');
		var symbolContainer = document.getElementById('symbolContainer');
		var textContainer = document.getElementById('textContainer');

		if (currentColor === 'black') {
			symbolContainer.innerHTML = '&#127769;'; // Codul HTML pentru simbolul de soare

		} else {
			symbolContainer.innerHTML = '&#9728;'; // Codul HTML pentru simbolul de lună

		}

		// Schimbă culoarea fundalului
		bodyElement.style.backgroundColor = (currentColor === 'black') ? '#2b2a2a' : '#fff';

		// Schimbă culoarea butoanelor
		var buttons = document.getElementsByClassName('button'); // înlocuiește 'your-button-class' cu clasa reală a butoanelor

		for (var i = 0; i < buttons.length; i++) {
			buttons[i].style.backgroundColor = (currentColor === 'black') ? '#7f7a7a' : '#2b2a2a';
			buttons[i].style.color = (currentColor === 'black') ? '#000' : '#fff';
		}
		var paragraphs = document.getElementsByClassName('p');

		for (var i = 0; i < paragraphs.length; i++) {
			paragraphs[i].style.color = (currentColor === 'black') ? '#fff' : '#000';
		}
		var paragraphs = document.getElementsByClassName('titlu');

		for (var i = 0; i < paragraphs.length; i++) {
			paragraphs[i].style.color = (currentColor === 'black') ? '#fff' : '#000';
		}
		var navbarElement = document.querySelector('.navbar');
		navbarElement.style.backgroundColor = (currentColor === 'black') ? '#504d4d' : '#ffffff';
	}
</script> -->


{% endblock %}