{% extends 'app/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block scripts %}
	<script src="{% static 'scripts/buttonHandlers.js' %}"></script>
{% endblock %}

{% block body %}

<div class="navbar">
	<p class="centered-content titlu">Image Illuminate</p>

	<button class="dark-mode-button container" onclick="toggleDarkMode('true')">
		<span style="font-size: 150%;" id="symbol-container">🔆</span>
	</button>
</div>

<div class="content">
	<div class="prompt" id="prompt-div">
		<p class="text">Describe what image you want</p>
		<textarea class="container input-prompt" type="text" id="prompt" placeholder="Enter your text here..."></textarea>
	</div>

	<div class="prompt" id="negative-prompt-div">
		<p class="text">Describe what you do not want your image to contain</p>
		<textarea class="container input-prompt" type="text" id="negative-prompt" placeholder="Enter your text here..."></textarea>
	</div>

	<div class="regular-button-container" id="buttons">
		<button class="container regular-button" id="model-button" onclick="toggleModel()">AI Model</button>
		<button class="container regular-button" id="options-button" onclick="toggleOptions()">Options</button>
		<button class="container regular-button" id="generate-button" onclick="generateImage()">Generate Image</button>
	</div>

	<div class="regular-button-container hidden" id="models">
		{% for index in options %}
			<button class="container regular-button image-button" id='{{ index.label }}' onclick="selectModel('{{ index.label }}', '{{ index.image_url }}')">
				<img src="{% static 'app/images-model/' %}{{ index.image_url }}">
				{{ index.label }}
			</button>
		{% endfor %}
	</div>

	<div class="options-container hidden" id="options">
		<div class="container option-container">
			<p class="option-text">STEPS</p>
			<input class="container input-prompt option-prompt" type="text" id="steps-prompt" placeholder="...">
		</div>

		<div class="container option-container">
			<p class="option-text">SEED</p>
			<input class="container input-prompt option-prompt" type="text" id="seed-prompt" placeholder="...">
		</div>

		<div class="container option-container">
			<p class="option-text">CFG-SCALE</p>
			<input class="container input-prompt option-prompt" type="text" id="cfg-scale-prompt" placeholder="...">
		</div>

		<div class="container option-container">
			<p class="option-text">SAMPLES</p>
			<input class="container input-prompt option-prompt" type="text" id="samples-prompt" placeholder="...">
		</div>

		<div class="container option-container" onclick="toggleDimensions()">
			<p class="centered-text">DIMENSIONS</p>
		</div>

		<div class="container option-container" onclick="resetOptions()">
			<p class="centered-text">RESET</p>
		</div>
			
	</div>
	
	<div class="slider-container hidden" id="slider">
		<input type="range" min="1" max="9" value="5" class="slider" id="range-slider" oninput="updateDimensionLabels()">
		<div class="slider-labels">
			<span class="text" id="width-label"></span>
			<span class="text" id="height-label"></span>
		</div>
	</div>

	{% if image_paths|length > 0 %}
		<div id="image-grid">
			{% for image_path in image_paths %}
			<div class="image-container">
				<img src="{% static 'app/images/' %}{{ image_path }}" alt="{{ image_path }}"
					style="max-width: 100%; height: auto;" id="generated_image">
			</div>
			{% endfor %}
		</div>

		<div class="regular-button-container download-container" id="download-button">
			<button class="container regular-button" id="model-button" onclick="downloadImages()">Download</button>
		</div>
	{% endif %}

</div>

<script>
	toggleDarkMode('false');
	updateDimensionLabels();
</script>

{% endblock %}