body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#mainButton {
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#arrowIcon {
    width: 20px;
    height: 20px;
}

#optionsContainer {
    display: none;
    border: 2px solid green;
    background-color: green;
    padding: 10px;
    margin-left: 10px;
}

.optionButton {
    background-color: pink;
    border: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
